name: build prod image

on:
  push:
    branches: [ main ]

jobs:
  build-dev:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_ACCESS_TOKEN }}

      - name: Set up variables
        run: |
          VER=$(cat ./docker-build/VERSION)
          echo "VERSION=$VER" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ./docker-build
          file: ./docker-build/Dockerfile
          platforms: |
            linux/arm/v7
            linux/arm64
            linux/amd64
          push: true
          tags: | 
            ${{ secrets.DOCKER_USER }}/pihole-unbound-hyperlocal:${{ env.VERSION }}
            ${{ secrets.DOCKER_USER }}/pihole-unbound-hyperlocal:latest
            ghcr.io/${{ secrets.DOCKER_USER }}/pihole-unbound-hyperlocal:${{ env.VERSION }}
            ghcr.io/${{ secrets.DOCKER_USER }}/pihole-unbound-hyperlocal:latest
